@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<input type="text" id="searchBar" class="form-control" />
<button id="searchBtn" class="btn btn-primary">Search</button>

<div class="container mt-5">
    <h1 class="text-center mb-5">Welcome to our Store</h1>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="@product.ImageUrl" alt="@product.Title">
                    <div class="card-body">
                        <h4 class="card-title">@product.Title</h4>
                        <p class="card-text">by <b>@product.Developer</b></p>
                        <p class="card-text">Platform: @product.Platform.Name</p>
                        <p class="card-text">List Price: @product.Price.ToString("C")</p>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@product.Id">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var searchBar = $('#searchBar');

            searchBar.on('input', function () {
                var searchQuery = searchBar.val();

                $.ajax({
                    url: '@Url.Action("FilterProducts", "Home")',
                    type: 'GET',
                    data: { searchQuery: searchQuery },
                    success: function (result) {
                        $('.row').html(result);
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
}
